<!-- ishthaar patra -->
<div class="row alwaysbreak page">
  <div class="col-md-12">
    <div class="row">
      <div class="fnt-24 fnt-b txt-center fnt-u">
        समक्ष न्यायालय श्रीमान तहसीलदार महोदय, <strong><%= request.village.tehsil %></strong>
      </div>
    </div>
    <div class="row pdf-mrgn-4 mrgn-top-20">
      <div class="d-table fnt-20">
        <div class="d-row">
          <div class="d-cell w-px-50">राजस्व प्र क्र</div> _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
        </div>
        <div class="d-row">
          <div class="d-cell w-px-50">ग्राम का नाम</div>    <div class="fnt-b"><%= request.village.village %></div>
        </div>
        <div class="d-row">
          <div class="d-cell w-px-50">पटवारी हल्का नंबर</div> <div class="fnt-b"><%= request.village.halka_number %></div>
        </div>
        <div class="d-row">
          <div class="d-cell w-px-50">रा नि मंडल</div> <div class="fnt-b"><%= request.village.ri %></div>
        </div>
      </div>
      <div class="fnt-30 fnt-b mrgn-top-20">
        <center>"इश्तहार"</center>
      </div>
      <div class="<%= @templates[:ishtihar] %> mrgn-top-30">
        <div class="txt-indent-3">
          सर्व साधारण एवं ग्राम पटवारी हल्का पटवारी नंबर <strong><%= request.village.halka_number %></strong> रा नि मंडल <strong><%= request.village.ri %></strong> तहसील <strong><%= request.village.tehsil %></strong>, जिला <strong><%= request.village.district %></strong> की आम जनता के जरिये इश्तिहार के सूचित किया जाता है कि - <br/>
          आवेदक <%=raw applicant_name(request, true) %> द्वारा <%= raw khasra_description(request) %> पंजीकृत बैनामा क्रमांक <strong><%= request.registry_number %></strong> दिनांक <strong><%= request.registry_date.strftime("%d/%m/%Y") %></strong> के आधार पर कराने हेतु आवेदन प्रस्तुत किया है | <br/>
        </div>
        <div class="txt-indent-3">
          उक्त संबंध में जिस किसी भी व्यक्ति को कोई आपत्ति हो तो वह अपनी आपत्ति अथवा आवेदन पत्र पेशी दिनांक _ _ _ _ _ _ _ तक इस न्यायलय में उपस्थित होकर स्वयं अथवा माननीय अधिवक्ता के द्वारा प्रस्तुत कर सकते है | <br/>
        </div>
        <div class="txt-indent-3">
          गुजरने मियाद किसी भी आपत्ति अथवा आवेदन पत्र पर विचार नहीं किया जायेगा स्थान मेरे हस्ताक्षर एवं न्यायलय की मुद्रा एवं मुहर से दिनांक _ _ _ _ _ _ _ _ को जारी किया गया|
        </div>
        <br/><br/><br/><br/>
        <div>
          <div class="fRight">
            <center>
              <strong>तहसीलदार/नायब तहसीलदार</strong>
            <center>
            <center>
              <strong>वृत्त - <%= request.village.ri%></strong>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>