<!-- kathan patra -->
<div class="row alwaysbreak page"> 
  <div class="col-md-12">
    <br/>
    <div class="row">
      <div class="fnt-30 fnt-b">
        <center>कथन</center>
      </div>
    </div>
    <div class="row pdf-mrgn-8 mrgn-top-20">
      <div class="d-table fnt-20">
        <% applicant = request.participants.applicant %>
        <div class="d-row">
          <div class="d-cell w-px-50">आवेदक का नाम</div><div class="fnt-b"><%=applicant.name %></div>
        </div>
        <div class="d-row">
          <div class="d-cell w-px-50">पिता/पति का नाम</div><div class="fnt-b"><%= applicant.gaurdian %></div>
        </div>
        <div class="d-row">
          <div class="d-cell w-px-50">उम्र व्यवसाय</div> _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
        </div>
        <div class="d-row">
          <div class="d-cell w-px-50">निवासी</div> <div class="fnt-b"><%= applicant.address %></div>
        </div>
      </div>
      <br/><br/><br/>
      <div class="<%= @templates[:kathan] %>">
        <div class="txt-indent-3">
          मैं ईमान से कहता /कहती हूँ मेरे द्वारा <%= raw khasra_description(request) %> पंजीकृत बैनामा क्रमांक <strong><%= request.registry_number %></strong> दिनांक <strong><%= request.registry_date.strftime("%d/%m/%Y") %></strong> को अनावेदक से क्रय कर भूमि  का नामांतरण  कराए जाने हेतु आवेदन पत्र पेश किया है |<br/>
        </div>
        <div class="txt-indent-3">
          अतः बैनामा अनुसार नामांतरण किया जाए यही मेरे कथन है |<br/>
        </div>
        <div class="txt-indent-3">पढ़कर सुनाया सही पाया | </div>
        <br/><br/><br/>
        <div class="sign-text">
          <div class="fRight">
            <center>- - - - - - - - - - -</center>
            <center>
              <strong><%=raw applicant_name(request) %></strong>
            <center>
            <center>
              <strong>आवेदक</strong>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>