
<!-- anavedak sapath patra -->
<div class="row alwaysbreak page">
  <div class="col-md-12">
    <div class="row">
      <div class="fnt-24 fnt-b fnt-u">
        <br/>
        <center>श्रीमान पब्लिक नोटरी अधिकारी महोदय <strong><%= request.village.tehsil %></strong> मध्यप्रदेश </center>
      </div>
      <div class="fnt-24 fnt-b mrgn-top-20">
        <center>//शपथ पत्र//</center>
      </div>
    </div>
    <div class="row padding-5 mrgn-top-30">
      <div class="<%= @templates[:non_applicant_affidavit] %>">
        <div class="txt-indent-3">
          मैं <strong><%= raw participant_names(request, "seller", false, true) %></strong> उम्र <strong> _ _ _ _ _</strong> वर्ष निवासी <strong><%= request.participants.applicant.address %></strong> शपथपूर्वक कथन करता हूँ |<br/> 
        </div>
        <div class="padding-3">
          1.  यह कि <%= raw khasra_description(request) %> हमारे द्वारा श्री/श्रीमती <%=raw applicant_name(request) %> को पंजीकृत बैनामा क्रमांक <strong><%= request.registry_number %></strong> दिनांक <strong><%= request.registry_date.strftime("%d/%m/%Y") %></strong> को विक्रय  किया गया है |<br/> 
          2. यह कि हमारी उक्त भूमि का संपूर्ण प्रतिफल प्राप्त कर भूमि का कब्ज़ा खरीदार को सौप दिया गया है भूमि पर कब्ज़ा तथा प्रतिफल संपत्ति कोई विवाद नहीं रहा भूमि, हमारी भूमि थी वह रहन व्यय नहीं है, एवं इस भूमि से सम्बंधित कोई भी प्रकरण किसी भी न्यायलय में विचाराधीन/लंबित नहीं है, हमारे द्वारा विक्रय की गई है |<br/>
          <div class="txt-indent-4">
            यह कि मैं वैनामा अनुसार आवेदक का नाम दर्ज होने हेतु सहमति में सपथ पत्र प्रस्तुत है 
          </div>
        </div>
        <br/>
        <div class="">
          <div class="fRight">
            <center>- - - - - - - - - - - -</center>
            <center><strong>हस्ताक्षर शपथकर्ता</strong><center>
          </div>
        </div>
        <br/><br/><br/>
        <div class="txt-indent-4">
          मैं <%=raw participant_names(request, "seller", false, true) %> द्वारा प्रस्तुत शपथ पत्र विवरण सही है 
        </div>
        <br/>
        <div>
          <div class="fLeft">
            <center>&nbsp;</center>
            <strong>दिनांक </strong> - - - - - - - - 
          </div>
          <div class="fRight">
            - - - - - - - - - - - -<br/>
            <center><strong>हस्ताक्षर शपथकर्ता</strong><center>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>