<!-- halka patwari prativedan -->
<div class="row pdf alwaysbreak">
  <div class="col-md-12">
    <div class="row">
      <div class="fnt-24 fnt-b fnt-u">
        <br/><br/>
        <center>
          कार्यालय पटवारी हल्का नंबर <%= request.village.halka_number %>, <%= request.village.halka_name %>
        </center>
      </div>
    </div>
    <div class="row mrgn-top-30 pdf-mrgn-8">
      <div class="<%= @templates[:patwari_prativedan] %>">
        <div class="fnt-20">प्रति,<br/></div>
        <div class="padding-5">
          श्रीमान तहसीलदार/नायब तहसीलदार महोदय<br/>
          वृत्त <strong><%= request.village.ri %></strong>, तहसील <strong><%= request.village.tehsil %></strong>
        </div><br/>
        <div class="">
          <strong>विषय &nbsp;:- </strong> नामांतरण के सम्बन्ध में प्रतिवेदन |<br/>
          <strong>सन्दर्भ :-</strong> श्रीमान जी के आदेश दिनांक _ _ _ _ _ _ _ _ के परिपालन के सम्बन्ध में |<br/><br/>
        </div>
        <div class="">
          महोदय  जी,<br/>
        </div>
        <div class="txt-indent-4">
          उपरोक्त विषयान्तर्गत संदर्भित आदेश के परिपालन में लेख है कि आवेदक <%=raw applicant_name(request) %> जाति _ _ _ _ _ _ _ _ _ _ _ _ _ _ निवासी <strong><%= request.participants.applicant.address %></strong> के द्वारा <%= raw khasra_description(request) %> भूमि विक्रेता <%= raw participant_names(request, "seller", false, true)%> से बैनामा क्रमांक <strong><%= request.registry_number %></strong> दिनांक <strong><%= request.registry_date.strftime("%d/%m/%Y") %></strong> के द्वारा क्रय करने से नामांतरण हेतु आवेदन पेश किया है <br/> 
        </div>
        <div class="txt-indent-4">
          वर्तमान अभिलेख मौजा <strong><%= request.village.halka_name %></strong> के भूमि खसरा नम्बर <strong><%= khasra %></strong> रकबा <strong><%= kh_rakba %></strong> में से रकबा <strong><%= sold_rakba %> </strong> कुल रकबा <strong><%= total_sold_rakba %></strong> आवेदित भूमि, भूमिस्वामी की भूमि है जिसका डायवर्सन हो चुका/नहीं हुआ है | 
          <br/>
        </div>
        <div class="txt-indent-4">
          अतः प्रतिवेदन सादर सम्प्रेषित है |
        </div>
        <br/><br/>
        <div>
          <div class="fRight">
            <center>- - - - - - - - - - - - - - - - -</center>
            <center><strong>हस्ताक्षर</strong><center>
            <center><strong>पटवारी हल्का <%= request.village.halka_name %></strong><center>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>