<!-- order sheet started -->
<div class="row pdf alwaysbreak">
  <div class="col-md-12">
    <div class="row">
      <div class="fnt-24 fnt-b txt-center">
        राजस्व आदेश अनुवृत्ति पत्र<br/>
        मामला क्रमांक_________ अ/6 <%= request.year %>
      </div>
    </div>
    <div class="row">
      <div class="mt-3">
        <div class="d-table">
          <div class="d-row mt-2">
            <div class="d-cell pdf-tbl-lft-15 txt-center p-2">1</div>
            <div class="d-cell pdf-tbl-center-70 txt-center p-2">2</div> 
            <div class="d-cell pdf-tbl-rht-15 txt-center p-2">3</div>
          </div>
          <div class="d-row pb-2">
            <div class="d-cell pdf-tbl-lft-15"></div>
            <div class="d-cell pdf-tbl-center-70 order2-parent">
              <div class="pd-4 <%= @templates[:ordersheet2] %> order2-child">
                <div class="fLeft">
                  प्रकरण पेश | 
                </div>
                <br/>
                <div class="mb-8 txt-indent-3">                  
                  प्रकरण का अवलोकन किया गया | प्रकरण में प्रस्तुत आवेदक के आवेदन पत्र हल्का पटवारी प्रतिवेदन, अनावेदक 
                  <% karanda_aam = request.participants.karanda_aam.first %>
                  <% if request.participants.sellers.present? %>
                    <u><%=raw participant_names(request, "seller", true) %> </u>
                  <% end %>
                  <% if karanda_aam.present? %> 
                    <u><strong>से मार्फ़त कारन्दाआम</strong>, <%=raw participant_name(karanda_aam, true) %> </u> 
                  <% end %>
                  के जबाब व प्रकाशन में आये अन्य दस्तावेजों के आधार पर मध्यप्रदेश भू -राजस्व संहिता १९५९ की धारा 109 -110 के तहत मौजा <strong><%= request.village.village %></strong> पटवारी हल्का नंबर <%= request.village.halka_number %> में स्थित खसरा नम्बर <strong><%= khasra %></strong> रकबा <strong><%= kh_rakba %></strong> में से रकबा <strong><%= sold_rakba %> </strong> कुल रकबा <strong><%= sold_rakba %></strong>  के पंजीकृत बैनामा क्रमांक <strong><%= request.registry_number %></strong> दिनांक <strong><%= request.registry_date.strftime("%d/%m/%Y") %></strong> के अनुसार आवेदक <strong><u><%= applicant_name(request) %></u></strong> निवासी <strong><%= request.address%></strong> का नाम शामिल दर्ज किये का आदेश पारित किया जाता है |  हल्का पटवारी एवं कंप्यूटर ऑपरेटर आदेशानुसार अभिलेख दुरुस्त करे बाद कार्यवाही नस्ती दाखिल दर्ज हो |
                </div>
                <br/><br/><br/>
                <div class="mb-2 fRight">
                  <strong>तहसीलदार/नायब तहसीलदार</strong>
                </div>
              </div>
            </div> 
            <div class="d-cell pdf-tbl-rht-15"></div>
          </div>
        </tbody>
      </div>
    </div>
  </div>
  <br/><br/>
</div>
