<!-- kathan patra -->
<div class="page-a4 only-print" data-request-target="page" data-name="kathan-affidavit" style="display: none;" >
  <div class="col-md-12 kathan-affidavit-pdf">
    <br/>
    <div class="row">
      <div class="fnt-30 fnt-b">
        <center>कथन</center>
      </div>
    </div>
    <div class="row padding-2 mrgn-top-20">
      <div class="paragraph-35 padding-6"> 
        <div class="row">
          <% applicant = request.participants.applicant %>
          <div class="col-md-3">आवेदक का नाम : </div>
          <div class="col-md-9"><strong><%= applicant.name %></strong></div>
          <div class="col-md-3">पिता/पति का नाम : </div>
          <div class="col-md-9"><strong><%= applicant.gaurdian %></strong></div>
          <div class="col-md-3">उम्र व्यवसाय : </div>
          <div class="col-md-9">- - - - - - - - - - - - - -</div>
          <div class="col-md-3">निवासी : </div>
          <div class="col-md-9"><strong><%= applicant.address %></strong></div> 
        </div>
      </div>
      <div class="paragraph-35 mrgn-top-20">
        <div class="txt-indent-2">
          मैं ईमान से कहता /कहती हूँ मेरे द्वारा <%= raw khasra_description(request) %> भूमि का रजिस्टर्ड बैनामा क्रमांक _ _<strong><%= request.registry_number %></strong>_ _ _ _ _ दिनांक _ _ _ _ _<strong><%= request.registry_date.strftime("%d/%m/%Y") %></strong>_ _ _ को अनावेदक से क्रय कर भूमि  का नामांतरण  कराए जाने हेतु आवेदन पत्र पेश किया है |<br/>
        </div>
        <div class="txt-indent-2">
          अतः बैनामा अनुसार नामांतरण किया जाए यही मेरे कथन है |<br/>
        </div>
        <div class="txt-indent-2">पढ़कर सुनाया सही पाया | </div>
        <br/><br/><br/>
        <div class="sign-text">
          <div class="fRight">
            <center>- - - - - - - - - - - - - -</center>
            <center>
              <%=raw applicant_name(request) %>
            <center>
            <center>
              <strong>आवेदक</strong>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>