<!-- order sheet started -->
<div class="page-a4 only-print" data-request-target="page" data-name="ordersheet-second" style="display: none;">
  <div class="row">
    <div class="fnt-22 fnt-b txt-center">
      राजस्व आदेश अनुवृत्ति पत्र<br/>
      मामला क्रमांक_ _ _ _ _ _ _ अ/6 <%= request.year %>
    </div>
  </div>
  <div class="row">
    <div class="row mt-2 first-row">
      <div class="w-15 table-left-column">1</div>
      <div class="w-70 table-center-column">2</div> 
      <div class="w-15 table-right-column">3</div>
    </div>
    <div class="row pb-2">
      <div class="w-15 table-left-column"></div>
      <div class="w-70 table-center-column">
        <div class="pd-4 fnt-20">
          <div class="mrgn-top-10">
            <div class="fLeft">
              प्रकरण पेश | 
            </div>
          </div>
          <br/>
          <div class="mb-8 paragraph-35" style="min-height: 900px;position: relative;">
            <div class="txt-indent-3">
              प्रकरण का अवलोकन किया गया | प्रकरण में प्रस्तुत आवेदक के आवेदन पत्र हल्का पटवारी प्रतिवेदन, अनावेदक
              <% karanda_aam = request.participants.karanda_aam.first %>
              <% seller_list = request.participants.sellers %>
              <% if seller_list.present? %>
                <u><strong><%=raw participant_names(request, "seller", false, false) %></strong> </u> 
              <% end %>
              <% if seller_list.present? && karanda_aam.present? %>
                <u><strong>से मार्फ़त </strong></u>
              <% end %>
              <% if karanda_aam.present? %> 
                 <u><strong>कारन्दाआम <%=raw participant_name(karanda_aam) %> </strong></u> 
              <% end %> 
              के जबाब व प्रकाशन में आये अन्य दस्तावेजों के आधार पर मध्यप्रदेश भू -राजस्व संहिता 1959 की धारा 109 -110 के तहत  <%= raw khasra_description(request) %> भूमि पर पंजीकृत बैनामा क्रमांक <strong><%= request.registry_number %></strong> दिनांक <strong><%= request.registry_date.strftime("%d/%m/%Y") %></strong> के अनुसार आवेदक <%=raw participant_names(request, "buyer", true) %> का नाम 
              <% if is_complete_rakba_sold %>
                विक्रेता के स्थान पर
              <% else %>
                शामिल शरीक 
              <% end %>
              दर्ज किये का आदेश पारित किया जाता है |  हल्का पटवारी एवं कंप्यूटर ऑपरेटर आदेशानुसार अभिलेख दुरुस्त करे बाद कार्यवाही नस्ती दाखिल दर्ज हो |
            </div>
            <div class="mb-2 pdf-bottom" style="position: absolute;bottom: 0; right:0;">
              <p class="fRight"><strong>तहसीलदार/नायब तहसीलदार</strong></p>
            </div>
          </div>
        </div>
      </div> 
      <div class="w-15 table-right-column"></div>
    </div>
  </div>
</div>

