<!-- halka patwari prativedan -->
<div class="page-a4 only-print" data-request-target="page" data-name="patwari-prativedan" style="display: none;">
  <div class="col-md-12 halka-patwari-prativedan-pdf">
    <div class="row">
      <div class="fnt-28 fnt-b">
        <center>
          कार्यालय पटवारी हल्का नंबर <%= request.village.halka_number %>, <%= request.village.halka_name %>
        </center>
      </div>
    </div>
    <div class="row mrgn-top-30 padding-2">
      <div class="paragraph-35 padding-4">
        <div class="">प्रति,<br/></div>
        <div class="padding-5">
          श्रीमान तहसीलदार/नायब तहसीलदार महोदय <br/>
          वृत्त <strong><%= request.village.ri %></strong>, तहसील <strong><%= request.village.tehsil %></strong>
        </div><br/>
        <div class="">
          <strong>विषय &nbsp;:- </strong> नामांतरण के सम्बन्ध में प्रतिवेदन |<br/>
          <strong>सन्दर्भ :-</strong> श्रीमान जी के आदेश दिनांक के परिपालन के सम्बन्ध में |<br/><br/>
        </div>
        <div class="">
          महोदय  जी,<br/>
        </div>
        <div class="paragraph-35">
          <div class="txt-indent-3">
            <% applicant = request.participants.applicant %>
            उपरोक्त विषयान्तर्गत संदर्भित आदेश के परिपालन में लेख है कि आवेदक <%=raw applicant_name(request) %> जाति _ _ _ _ _ _ _ _ _ _ _निवासी <strong><%= applicant.address %></strong> के द्वारा <%= raw khasra_description(request) %> भूमि का विक्रेता 
            <% karanda_aam = request.participants.karanda_aam.first %>
            <% seller_list = request.participants.sellers %>
            <% if seller_list.present? %>
              <u><strong><%=raw participant_names(request, "seller", false, false) %></strong> </u> 
            <% end %>
            <% if seller_list.present? && karanda_aam.present? %>
              <u><strong>से मार्फ़त </strong></u>
            <% end %>
            <% if karanda_aam.present? %> 
               <u><strong>कारन्दाआम <%=raw participant_name(karanda_aam) %> </strong></u> 
            <% end %>
            से बैनामा क्रमांक <strong><%=raw request.registry_number %></strong> दिनांक <strong><%= request.registry_date.strftime("%d/%m/%Y") %></strong> के द्वारा क्रय करने से नामांतरण हेतु आवेदन पेश किया है <br/> 
          </div>
          <div class="txt-indent-3">
            वर्तमान अभिलेख मौजा <strong><%= request.village.halka_name %></strong> के खसरा नंबर <strong><%= khasra %></strong> रकबा क्रमशः <strong><%= kh_rakba %></strong> हेक्ट आवेदित भूमि, भूमिस्वामी मद भूमि है जिसका डायवर्सन हो चुका/नहीं हुआ है | 
            <br/>
          </div>
          <div class="txt-indent-3">
            अतः प्रतिवेदन सादर सम्प्रेषित है |
          </div>
        </div>
        <br/><br/>
        <div>
          <div class="fRight">
            <center>- - - - - - - - - - - - - - - - -</center>
            <center><strong>हस्ताक्षर</strong><center>
            <center><strong>पटवारी हल्का <%= request.village.halka_name %></strong><center>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>