<% villages = request.khasras.pluck(:village_id).uniq %>
<% villages && villages.each_with_index do | village_id, index | %>
  <% village = Village.where(id: village_id).first %>
  <% group_ids = request.khasra_battanks.pluck(:group_id).uniq - [nil] %>
  <div class="page-a4-landscape only-print" data-request-target="page" data-name="batwara-fard"  style="display: none;">
    <div class="row">
      <div class="col-md-12">
        <div class="page-sub-header mb-2">
          <center>
            <div class="fnt-22">
              कार्यालय पटवारी हल्का नंबर <%= village.halka_number %>, <%= village.halka_name %>
            <div>
            <div class="fnt-18">(प्रस्तावित बटवारा फर्द)</div>
          </center>
        </div>
        <div class="mb-3 paragraph-34">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th colspan="3"><center>वर्तमान अभिलेख</center></th>
                <th colspan="4"><center>प्रस्तावित बटवारा फर्द</center></th>
              </tr>
              <tr>
                <th>हिस्सेदार</th>
                <th>खसरा</th>
                <th>रकबा</th>
                <th>हिस्सेदार</th>
                <th>खसरा</th>
                <th>रकबा</th>
                <th>हस्ताक्षर</th>
              </tr>
            </thead>
            <tbody>
              <% khasras = request.khasras.where("village_id=?", village_id) %>
              <% kh_battanks = request.khasra_battanks.where("khasra_id in (?)", khasras.pluck(:id)) %>
              <% acc_rakba, indx = 0, 0 %>
              
              <% group_ids.each_with_index do | group_id, index1 | %>
                <% khasra_battanks = request.khasra_battanks.where("group_id=? and khasra_id in (?)", group_id, khasras.pluck(:id)) %>
                <% hissedars = @request.participants.where("id in (?)", khasra_battanks[0].participant_ids.split(",")) %>
                <% hissedar_names = hissedars.collect{ |h| participant_name(h) } %>
                <% account_rakba = 0 %>

                <% khasra_battanks &&  khasra_battanks.each_with_index do | khbattank, index2 | %>
                  <tr>

                    <% if indx == 0 %>
                      <td rowspan="<%= kh_battanks.length + group_ids.length %>"> 
                        <%= raw participant_names(request, "land_owner") %>
                      </td>
                    <% end %>
                    <% if khasras.length == indx + 1 %>
                      <td rowspan="<%= kh_battanks.length + group_ids.length - khasras.length + 1 %>">
                        <%= khasras[indx].khasra %>
                      </td>
                      <td rowspan="<%= kh_battanks.length + group_ids.length - khasras.length + 1 %>">
                        <%='%.4f' % khasras[indx].rakba %>
                      </td>
                      <% acc_rakba = acc_rakba + (khasras[indx].rakba.to_f*10000) %>
                    <% elsif khasras.length > indx  %>
                      <td><%= khasras[indx].khasra %></td>
                      <td><%='%.4f' % khasras[indx].rakba %></td>
                      <% acc_rakba = acc_rakba + (khasras[indx].rakba.to_f*10000) %>
                    <% end %>
                    
                    <% indx = indx + 1 %>

                    <% if index2 == 0%>
                      <td rowspan="<%= khasra_battanks.length %>">
                        <%= index1+1 %>. <%=raw hissedar_names.join("<br/>") %>
                      </td>
                    <% end %>
                    <td>
                      <%= khbattank.new_khasra %>
                    </td>
                    <td>
                      <%= '%.4f' % khbattank.rakba %>
                    </td>
                    <td></td>
                  </tr>
                  <% account_rakba = account_rakba + khbattank.rakba.to_f*10000 %>
                <% end %>
                <tr>
                  <% if khasras.length == indx + 1 %>
                    <td rowspan="<%= kh_battanks.length + group_ids.length - khasras.length + 1 %>">
                      <%= khasras[indx].khasra %>
                    </td>
                    <td rowspan="<%= kh_battanks.length + group_ids.length - khasras.length + 1 %>">
                      <%='%.4f' % khasras[indx].rakba %>
                    </td>
                    <% acc_rakba = acc_rakba + (khasras[indx].rakba.to_f*10000) %>
                  <% elsif khasras.length > indx  %>
                    <td><%= khasras[indx].khasra %></td>
                    <td><%='%.4f' % khasras[indx].rakba %></td>
                    <% acc_rakba = acc_rakba + (khasras[indx].rakba.to_f*10000) %>
                  <% end %>
                  <% indx = indx + 1%>

                  <td></td>
                  <td class="text-primary"><strong>आवंटित रकबा : </strong></td>
                  <td>
                    <strong>
                      <span class="text-primary"><%='%.4f' % (account_rakba/10000) %> हे.</span>
                    </strong>
                  </td>
                  <td></td>
                </tr>
              <% end %>
              <tr>
                <td></td>
                <td class="text-primary"><strong>कुल रकबा : </strong></td>
                <td>
                  <strong>
                    <span class="text-primary"><%='%.4f' % (acc_rakba/10000) %> हे.</span>
                  </strong>
                </td>
                <td></td>
                <td class="text-primary"><strong>कुल रकबा : </strong></td>
                <td>
                  <strong>
                    <span class="text-primary"><%='%.4f' % (acc_rakba/10000) %> हे.</span>
                  </strong>
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="fRight">
          <div class="fnt-b">
            <center>_ _ _ _ _  _ _ _ _ _ _ </center><br/>
            <center>पटवारी, हल्का नंबर <%= request.village.halka_number %></center>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>