<div class="page-a4 only-print" data-controller="blnk-frm">
  <div class="col-md-12 ln-hgt-30">
    <div class="row">
      <div class="fnt-30 fnt-b fnt-u mb-2">
        <center>
          आय बावत स्व प्रमाणित घोषणा-पत्र 
        </center>
      </div>
      <div class="fnt-22 fnt-b">
        <center>
          (सादे कागज पर) 
        </center>
      </div>
    </div>
    <span id="hidden_input" style="display:none;">
      <input id="input1" name="inputText" type="text" value="" 
        class="hidden-field" data-blnk-frm-target="textField"
        data-action="blur1->blnk-frm#showAsItis keydown.tab->blnk-frm#nextInput keydown.enter->blnk-frm#typingText" />
    </span>
    <div class="row mrgn-top-10 mrgn-2">
      <div class="paragraph-28 fnt-16">
        मैं <%= raw blank_string(24)%> आत्मज श्री <%= raw blank_string(28)%> आयु <%= raw blank_string(8)%> वर्ष  शपथ पूर्वक कथन करता हूँ /करती हूँ  कि :
        <div class="padding-3">
          1. मैं वर्तमान  में <%= raw blank_string(32)%> में निवासरत हूँ | <br/>
          2. मेरे नाम से ग्राम <%= raw blank_string(22)%> में <%= raw blank_string(10)%> हे/एकड़ भूमि है, जिसमे मुझे रूपये <%= raw blank_string(10)%> शब्दों में <%= raw blank_string(17)%> की वार्षिक आय होती है | <br/>
          3. मेरा व्यवसाय <%= raw blank_string(22)%> है , इससे मुझे वार्षिक आय रूपये <%= raw blank_string(6)%> शब्दों में <%= raw blank_string(28)%> है |<br/> 
          4. गृह संपत्ति से मेरी वार्षिक आय रूपये <%= raw blank_string(10)%> शब्दों में <%= raw blank_string(32)%> है <br/>
          5. मेरे परिवार में निम्नानुसार सदस्य है | <br/>
          <div class="padding-3">
            1. <%= raw blank_string(16)%> 2. <%= raw blank_string(15)%> 3. <%= raw blank_string(15)%> <br/>
            4. <%= raw blank_string(16)%> 5. <%= raw blank_string(15)%> 6. <%= raw blank_string(15)%> <br/>
            (परिवार से आशय पति/पत्नी/अवयस्क पुत्र/पुत्री/आश्रित माता या पिता से है |)<br/>
          </div>
          
          6. मेरे परिवार के उक्त समस्त सदस्यों की कुल वार्षिक आय रुपये <%= raw blank_string(24)%> शब्दों में <%= raw blank_string(32)%> है | <br/>
          7. मैंने इस शपथ पात्र के पूर्व कोई आय प्रमाण पत्र प्राप्त नहीं किया है/सपथ -पत्र प्रस्तुत नहीं किया है | <br/>
        </div>
        <div class="fnt-20 fnt-b">
          <center>अथवा</center>
        </div>
        <div class="padding-3">
          8. मैंने एक शपथ-पत्र के पूर्व लगभग <%= raw blank_string(16)%> समय पूर्व एक आय प्रमाण -पत्र/शपथ-पत्र राशि <%= raw blank_string(16)%> रूपये वार्षिक का प्राप्त किया/दिया था | मेरी आय अब परिवर्तित हो गई है |
          अतः परिवर्तित  आय राशि <%= raw blank_string(24)%> वार्षिक का आय शपथ पत्र प्रस्तुत किया जा रहा है |<br/> 
          (बिंदु क्रमांक 7  एवं 8 में जो लागू न हो उसे काट दें ) <br/>
        </div>
        <div class="mt-3 mb-3 fnt-18 fnt-b">
          <div class="fRight">
            हस्ताक्षर
          </div>
        </div>
        <br/>
        <div class="fnt-20 fnt-b fnt-u mb-3">
          <center>सत्यापन</center>
        </div>
        <div class="paragraph-28 fnt-16">
          मैं _ _ _ _ _ _ _ _  _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ आत्मज/पति श्री _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ आयु _ _ _ _ _ _ _ _ वर्ष, निवासी _ _ _ _ _ _ _ _  _ _ _ _ _ _ _ _  _ _ _ _ _ _ _ _  _ _ _ _ _ _ _ _ सत्यपान करता /करती हूँ की शपथ पत्र की कंडिका 1 से 8 तक में उल्लेखित जानकारी मेरे   निजी ज्ञान एवं विश्वास के आधार पर सत्य है | इसमें न कोई तथ्य छुपाया गया है और न  ही असत्य तथ्य अंकित किया गया है | मुझे यह ज्ञान है कि मेरे द्वारा असत्य या भ्रामक जानकारी देने पर मेरे विरुद्ध आपराधिक/दंडात्मक कार्यवाही की जा सकेगी | साथ ही मुझे प्राप्त समस्त लाभ भी वापिस ले लिए जायेगे | <br/>
          सत्यापन आज दिनांक _ _ _ _ _ _ _ _ वर्ष _ _ _ _ _ _ _ _ को स्थान _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ में किया गया | 
        </div>
        <br/>
        <div class="mt-3 mb-3 fnt-18 fnt-b">
          <div class="fRight">
            हस्ताक्षर
          </div>
        </div>            
      </div>
    </div>
  </div>
</div>