 <table class="table sanjara-table">
  <thead>
    <tr>
      <th colspan="6">
        प्रतिभागी सूची
      </th>
    </tr>
    <tr>
      <td>क्रमांक</td>
      <td>प्रतिभागी</td>
      <td>सम्बन्ध</td>
      <td>अभिभावक</td>
      <td>प्रतिभागी प्रकार</td>
      <td>गतिविधि</td>
    </tr>
  </thead>
  <tbody>
    <% participant_list = get_participants(request) %>
    <% if participant_list.present? %>
      <% participant_list.each_with_index do | participant, index | %>
        <tr>
          <td>
            <%= index + 1 %>
          </td>
          <td>
            <%= participant.name %>
          </td>
          <td>
            <%= participant.relation %>
          </td>
          <td>
            <%= participant.gaurdian %>
          </td>
          <td class="text-primary">
            <% if participant.participant_type == "फौत व्यक्ति" %>
              <%= participant.participant_type.name %>
            <% else %>
              <%= participant.participant_type.name %> 
              <%= "(आवेदक)" if participant.is_applicant %>
              <%= get_varsan_status(participant) if !participant.is_applicant && request.request_type.name == "फौती" %> 
            <% end %>
          </td>
          <td>
            <%=link_to edit_request_participant_path(participant.request_id, participant.id), class: "fnt-20 anchor-no-decoration" do %>
              <i class="fa-solid fa-pen-to-square"></i>
            <% end %>
            <%= button_to(request_participant_path(participant.request_id, participant.id), method: :delete, form: {class: 'ps-0 pe-0 d-iblock'}, class: "frm-delete-btn fnt-20") do %>
              <i class="fa-regular fa-trash-can"></i>
            <% end %>
          </td>
        </tr>
      <% end %>       
    <% else %>
      <tr>
        <td colspan="2">
          No Data
        </td>
      </tr>
    <% end %>
  </tbody>
</table>