<!-- order sheet started -->
<div class="page-a4 only-print" data-request-target="page" data-name="ordersheet-second" style="display: none;">
  <div class="row">
    <div class="fnt-22 fnt-b txt-center">
      राजस्व आदेश अनुवृत्ति पत्र<br/>
      मामला क्रमांक_ _ _ _ _ _ _ अ/6 <%= request.year %>
    </div>
  </div>
  <div class="row">
    <div class="row mt-2 first-row">
      <div class="w-15 table-left-column">1</div>
      <div class="w-70 table-center-column">2</div> 
      <div class="w-15 table-right-column">3</div>
    </div>
    <div class="row pb-2">
      <div class="w-15 table-left-column"></div>
      <div class="w-70 table-center-column">
        <div class="pd-4 paragraph-40">
          <div class="fLeft">
            प्रकरण पेश | 
          </div>
          <br/>
          <div class="mb-8 txt-indent-3"> 
            <% dead_persons = request.participants.fout_person %>

            प्रकरण का अवलोकन किया गया | प्रकरण में आवेदक <%=raw applicant_name(request, true) %> द्वारा म. प्र. भू-राजस्व संहिता संहिता 1959 की धारा  109 -110 के तहत आवेदन पत्र प्रस्तुत कर लेख किया है कि <%= raw khasra_description(request) %> के खातेदार/सहखातेदार 
            <% dead_persons.each_with_index do | f_person, indx | %>
              <%=raw participant_name(f_person) %> की मृत्यु दिनांक <strong><%= f_person.death_date.strftime("%d/%m/%Y") %></strong> <%= ", " if indx < dead_persons.length-1 %>
            <% end %>
            को हो जाने के कारण उनके स्थान पर उनके विधिक वारसानो के नाम दर्ज किये जाने का निवेदन किया है | 
          </div>

          <div class="mb-8 txt-indent-3"> 
            प्रकरण अ/6  मद में दर्ज करके ग्राम में इश्तहार का प्रकाशन किया गया, कोई आपत्ति प्राप्त नहीं हुई है | 
          </div>
          <div class="mb-8 txt-indent-3"> 
            हल्का पटवारी से मृतक के वारसानों की जानकारी ली गई, हल्का पटवारी  प्रतिवेदन में वैद्य वारसानों की जानकारी देकर वारसान हक़ से नाम दर्ज दिए जाने बाबत लेख किया है |
          </div>
          <div class="mb-8 txt-indent-3">  
            अतः म.प्र. भू-राजस्व संहिता 1959 की धरा 109-110 के अंतर्गत <%= raw khasra_description(request) %> पर मृतक खातेदार 
            <% dead_persons.each_with_index do | f_person, indx | %>
              <%= raw participant_name(f_person) %> की मृत्यु दिनांक <strong><%= f_person.death_date.strftime("%d/%m/%Y") %></strong> <%= ", " if indx < dead_persons.length-1 %>
            <% end %>
            को फौत होने से उनके स्थान पर उनके वैद्य वारसानों पटवारी प्रतिवेदन <strong>प्रदर्श पी-1</strong> एवं आवेदक द्वारा प्रस्तुत शपथ-पत्र <strong>प्रदर्श पी-2</strong> अनुसार 
            <%= raw dead_persions_varsan(request, false) %> 
            का नाम दर्ज किये जाने का आदेश पारित किया जाता है | शेष खातेदार के नाम यथावत दर्ज रहेगें | पटवारी अमल करें | तत्पश्चात प्रकरण नस्ती दाखिल अभिलेखागार हो | 
          </div>
          <br/><br/><br/>
          <div class="mb-2 fRight">
            <strong>तहसीलदार/नायब तहसीलदार</strong>
          </div>
        </div>
      </div> 
      <div class="w-15 table-right-column"></div>
    </div>
  </div>
</div>

