<!-- kathan patra -->
<div class="page-a4 only-print" data-request-target="page" data-name="panchanama" style="display: none;" >
  <div class="col-md-12 applicant-app-parent">
    <div class="row">
      <div class="fnt-24 fnt-b fnt-u">
        <center>पंचनामा</center>
      </div>
    </div>
    <br/>
    <div class="row padding-5 paragraph-35">
      <div class="txt-indent-3">
        <% dead_persons = request.participants.fout_person %>

        हम सभी अधोहस्ताक्षरकर्ता व्यक्ति मौजा <strong><%= request.village.village %></strong> प. ह. न. <strong><%= request.village.halka_number %></strong> रा.नि.म. <strong><%= request.village.ri %></strong> तहसील <strong><%= request.village.tehsil %></strong> जिला <strong><%= request.village.district %></strong> तस्दीक करते है कि ग्राम के निवासी कृषक 
         <% dead_persons && dead_persons.each_with_index do |f_person, indx|%>
          <%= ", " if indx > 0 %>
          <%=raw participant_name(f_person) %> जाति _ _ _ _ _ _ _ _ _ की मृत्यु दिनांक <strong><%= format_dt(f_person.death_date) %></strong>
        <% end %>
        को हो चुकी है तथा इनके वैध वारिसों के नाम संजरा अनुसार निम्न है :- 
      </div>
      <% request && dead_persons.each do | f_person | %>
        <%= render "participants/sanjara", request: request, fout_person: f_person, action_display: false %>
      <% end %>
      <table class="table">
        <thead>
          <tr>
            <th class="w-20">नाम</th>
            <th class="w-20">पिता का नाम</th>
            <th class="w-15">जाति</th>
            <th class="w-30">निवास</th>
            <th  class="w-15">हस्ताक्षर</th>
          </tr>
        </thead>
        <tbody>
          <tr><td>&nbsp;</td><td></td><td></td><td></td><td></td></tr>
          <tr><td>&nbsp;</td><td></td><td></td><td></td><td></td></tr>
          <tr><td>&nbsp;</td><td></td><td></td><td></td><td></td></tr>
          <tr><td>&nbsp;</td><td></td><td></td><td></td><td></td></tr>
          <tr><td>&nbsp;</td><td></td><td></td><td></td><td></td></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>