<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2 not-print">
    <div class="row page-list">
      <div class="page-header">
        पेज की सूची
      </div>
      <ol class="list-group mb-4 pe-0">
        <%= link_to new_request_path, class: "anchor-no-decoration" do %>
          <li class="list-group-item">
            नवीन आवेदन
          </li>
        <% end %> 
        <li class="list-group-item active">
          लंबित आवेदन
        </li>
        <%= link_to requests_path, class: "anchor-no-decoration" do %>
          <li class="list-group-item">
            आवेदन सूची
          </li>
         <% end %>
      </ol>
    </div>
  </div>
  <div class="col-md-8" id="request-block">
    <div class="mb-3">
      <table class="table">
        <thead>
          <tr>
          <th>आवेदक</th>
          <th>रजिस्ट्री नंबर/दिनांक</th>
          <th>आवेदन प्रकार</th>
          <th>गतिविधि</th>
        </tr>
        </thead>
        <tbody>
          <% if @requests.present? %>
            <% @requests.each do | request | %>
              <tr>
                <td>
                  <%#= link_to request.title, pending_request_request_path(request) %>
                  <%= request.title %>
                </td>
                <td>
                  <% if request.registry_date.present? %>
                    <%= request.registry_number%>/<%= request.registry_date.strftime("%d-%m-%Y")%>
                  <% else %>
                   -
                  <% end %>
                </td>
                <td><%= request.request_type.name %></td>
                <td>
                  <% participant_txt = request.request_type == "नामांतरण" ? "अनावेदक जोड़े" : (request.request_type == "बटवारा" ? "हिस्सेदार जोड़े" : "वारसान जोड़े") %>

                  <%= link_to new_request_participant_path(request_id: request.id), class: "btn btn-primary",
                    'data-bs-toggle': "tooltip", 'data-bs-placement': "top", 'title': participant_txt do %>
                    <i class="fa-solid fa-user-plus"></i>
                  <% end %>
                  <%= link_to new_request_khasra_path(request_id: request.id), class: "btn btn-primary",
                    'data-bs-toggle': "tooltip", 'data-bs-placement': "top", 'title': "खसरा जोड़े" do %>
                    <i class="fa-solid fa-file-circle-plus"></i>
                  <% end %>
                  <%= link_to edit_request_path(request.id), class: "btn btn-primary",
                    'data-bs-toggle': "tooltip", 'data-bs-placement': "top", 'title': "अद्यतन करे" do %>
                    <i class="fa-solid fa-pen-to-square"></i>
                  <% end %>
                  <% if request.request_type.name == "बटवारा" %>
                    <%= link_to khasra_battank_request_khasras_path(request), class: "btn btn-primary",
                    'data-bs-toggle': "tooltip", 'data-bs-placement': "top", 'title': "अद्यतन करे" do %>
                      <i class="fa-solid fa-scissors"></i>
                    <% end %>
                  <% end %>
                  <%= button_to request_path(request), method: :delete, class: "btn btn-danger", form: {class: 'ps-0 pe-0', style: "display:inline-block;"} do %>
                   <i class="fa-solid fa-trash" ></i>
                  <%end %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="4">
                <center>अभी कोई आवेदन लंबित नहीं है |</center>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="divider-bdr mt-3 mb-3"></div>
    <%= link_to "नया आवेदन", new_request_path %>
  </div>
  <div class="col-md-1"></div>
</div>
