<div class="row" data-controller="payment">
  <div class="col-md-6">
    <%= form_with(model: order) do |form| %>
      <% if order.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>
          <ul>
            <% order.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="mb-3">
        <label for="amount" class="form-label">राशि</label>
        <%= form.number_field :amount, class: "form-control", 'data-payment-target': 'amount' %>
      </div>
      <div class="mb-3">
        <%#= form.submit %>
        <input type="hidden" value="<%= form_authenticity_token %>" id="csrf_token" data-payment-target='crsfToken' />
        <!-- <button id="make_order" class="btn btn-primary" data-action="click->payment#makePayment">रिचार्ज अकाउंट</button> -->
        <input type="button" value="रिचार्ज अकाउंट" class="btn btn-primary" data-action="click->payment#rechargeAccount" />
        <button value="Reset Order" id="make_order" class="btn btn-danger">रीसेट राशि</button>
      </div>
      
    <% end %>
  </div>
</div>