<div id="<%= dom_id blank_form %>">
  <p>
    <strong>Name:</strong>
    <%= blank_form.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= blank_form.category %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= blank_form.department %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= blank_form.content %>
  </p>

</div>
