<p style="color: green"><%= notice %></p>

<%= render @order_template %>

<div>
  <%= link_to "Edit this order template", edit_order_template_path(@order_template) %> |
  <%= link_to "Back to order templates", order_templates_path %>

  <%= button_to "Destroy this order template", @order_template, method: :delete %>
</div>
