<!-- order sheet started -->
<div class="page-a4 only-print" data-request-target="page" data-name="ordersheet-second" style="display: none;">
  <div class="row">
    <div class="fnt-22 fnt-b txt-center">
      राजस्व आदेश अनुवृत्ति पत्र<br/>
      मामला क्रमांक_ _ _ _ _ _ _ अ/6 <%= request.year %>
    </div>
    <div class="row mt-2 first-row">
      <div class="w-15 table-left-column">1</div>
      <div class="w-70 table-center-column">2</div> 
      <div class="w-15 table-right-column">3</div>
    </div>
    <div class="row pb-2">
      <div class="w-15 table-left-column"></div>
      <div class="w-70 table-center-column">
        <div class="pd-4 fnt-20">
          <div class="mrgn-top-10">
            <div class="fLeft">
              प्रकरण पेश | 
            </div>
          </div>
          <br/>
          <div class="mb-8 paragraph-35" style="min-height: 900px;position: relative;">
            <div class="txt-indent-3">
              प्रकरण आदेशार्थ प्रस्तुत | 
            </div>
            <div class="txt-indent-3">
              प्रकरण का अवलोकन किया गया | प्रकरण का सूक्ष्म सार इस प्रकार है कि  आवेदक <%=raw applicant_name(request, true) %> द्वारा आवेदन पत्र  प्रस्तुत  कर लेख किया है कि <%= raw khasra_description(request) %> भूमि दर्ज है, आवेदक उक्त भूमि का आपसी  सहमति से सहखातेदारों के मध्य खसरा में अंकित रकबा अनुसार बटवारा कराना चाहता है आवेदन अनुसार बटवारा किये जाने बाबत लेख किया है | 
            </div>
            <div class="txt-indent-3">
              प्रकरण पंजीबद्ध करके ग्राम में इश्तहार का प्रकाशन कराया गया वाद प्रकाशन व नियत तिथि तक कोई आपत्ति प्राप्त नहीं |
            </div>
            <div class="txt-indent-3">
              प्रकरण में  हल्का पटवारी द्वारा फर्द बटवारा प्रतिवेदन प्रस्तुत कर लेख किया है की मौजा <%= raw khasra_description(request) %> भूमि आवेदक एवं अन्य सहखातेदारों के नाम दर्ज है | उक्त भूमि का आपसी सहमति से बटवारा किये जाने में मौका जाँच कर आपसी सहमति के अनुसार फर्द बटवारा तैयार किया गया | जिस पर सहमति स्वरुप सभी खातेदारों के हस्ताक्षर है | 
            </div>
            <div class="txt-indent-3">
              आवेदक द्वारा अपने पक्ष समर्थन में शपथ-पत्र प्रस्तुत कर पटवारी द्वारा प्रस्तुत फर्द अनुसार बटवारा किये जाने में अपनी सहमति व्यक्त की है | 
            </div>
            <div class="txt-indent-3">
              मेरे द्वारा प्रकरण का परिशीलन किया गया | आवेदक द्वारा मौजा <strong><%= request.village.village %></strong> पटवारी हल्का नंबर <strong><%= request.village.halka_number %></strong> राजस्व निरीक्षक मंडल <strong><%= request.village.ri %></strong> की भूमि है उक्त भूमि पर आपसी सहमति के अनुसार आवेदन पत्र में वर्णित बटवारा फर्द के अनुसार आपसी सहखातेदारों के मध्य बटवारा चाहा गया है | उभयपक्षों के न्यायालय के समक्ष उपस्थित  होकर सहमति शपथ-पत्र एवं हल्का पटवारी द्वारा प्रस्तुत बटवारा फर्द में अपनी सहमति के हस्ताक्षर किये गए है | हल्का पटवारी द्वारा प्रस्तुत बटवारा फर्द  में खातेदारों के मध्य हिस्सा  भूमि की उत्पादन क्षमता एवं कीमत के  आधार पर न्यूनाधिक प्रस्तावित किया गया है | हल्का पटवारी ग्राम <strong><%= request.village.village %></strong>_द्वारा प्रस्तुत फर्द बटवारा प्रतिवेदन प्रदर्श पी -१ एवं प्रस्तावित नक्शा प्रदर्श पी-२ है | उपरोक्त विवेचना से मैं इस निष्कर्ष पर पहुँचता हूँ कि उपरोक्त भूमियो का आवेदन पत्र एवं हल्का पटवारी द्वारा प्रस्तुत बटवारा फर्द अनुसार निम्नानुसार बटवारा किया जाना न्यायोचित है :- 
            </div>
            <div class="txt-indent-3">
              म प्र भू-राजस्व संहिता १९५९ की धारा १७८ के तहत प्रदत्त शक्तियों का प्रयोग करते हुए <%= raw khasra_description(request) %> भूमि पर हल्का पटवारी द्वारा प्रस्तुत फारद बटवारा प्रदर्श पी -१ एवं प्रस्तावित नक्शा प्रदर्श पी-२ आदेश का अंग भाग रहेगा | आवेदक द्वारा शुल्क के रूप में _ _ _ _ _ _ के स्टाम्प नॉन ज्यूडिशियल पेश करने पर हल्का पटवारी आदेशानुसार अभिलेख दुरुस्त करे | बाद कार्यवाही प्रकरण नस्तीबद्ध होकर दाखिल रिकॉर्ड हो | 
            </div>
            <br/><br/><br/>
            <div class="mb-2 pdf-bottom" >
              <p class="fRight"><strong>तहसीलदार/नायब तहसीलदार</strong></p>
            </div>
          </div>
        </div>
      </div> 
      <div class="w-15 table-right-column"></div>
    </div>
  </div>
</div>

