<!-- halka patwari prativedan -->
<div class="row pdf alwaysbreak">
  <div class="col-md-12">
    <div class="row pd-top-2">
      <div class="fnt-24 fnt-b fnt-u">
        <center>
          कार्यालय पटवारी हल्का नंबर _ _ <%= request.village.halka_number %>, <%= request.village.halka_name %>
        </center>
      </div>
    </div>
    <div class="row pdf-mrgn-8">
      <div class="<%= @templates[:patwari_prativedan] %>">
        <div class="fnt-20">प्रति,<br/></div>
        <div class="padding-6">
          श्रीमान तहसीलदार/नायब तहसीलदार महोदय<br/>
          वृत्त <strong><%= request.village.ri %></strong>, तहसील <strong><%= request.village.tehsil %></strong>
        </div>
        <div class="">
          <strong>विषय &nbsp;:- </strong> फौती/नामांतरण के सम्बन्ध में प्रतिवेदन |<br/>
        </div>
        <div class="">
          महोदय  जी,<br/>
        </div>
        <div class="txt-indent-3">
          उक्त विषयान्तर्गत लेख है कि, मौजा <strong><%= request.village.halka_name %></strong> प.ह.न. <strong><%= request.village.halka_number %></strong> तहसील <strong><%= request.village.tehsil %></strong> जिला <strong><%= request.village.district %></strong> के आवेदक <strong><%= applicant_name(request) %></strong> निवास <strong><%= request.address %></strong> द्वारा अपने माता/पिता/अन्य

          <% if request.participants.fout_person.length > 1 %>
            <strong><%= fout_persons(request) %></strong> की मृत्यु दिनांक क्रमशः <strong><%= request.participants.fout_person.collect{ |p| [format_dt(p.faut_date)] }.join(", ") %></strong>
          <% else %>
            <% f_person = request.participants.fout_person.first %>
            <strong><%= fout_persons(request) %></strong> की मृत्यु दिनांक <strong><%= request.participants.fout_person.collect{ |p| [format_dt(p.faut_date)] }.join(", ") %></strong>
          <% end %> 

           को हो जाने के कारण नामांतरण/फौती हेतु आवेदन पत्र श्रीमान जी के समक्ष प्रतुत किया है | 
        </div>
        <% villages = request.khasras.pluck(:village_id).uniq %>
        <% if villages.length > 1%>
          <% village = Village.find(request.village.id) %>
          <% khasras = request.khasras.where(village_id: village.id) %>
          <div class="txt-indent-3">
            यह कि मौजा <strong><%= village.halka_name %></strong> प.ह.न. <strong><%= village.halka_name %></strong> तहसील <strong><%= village.tehsil %></strong> जिला <strong><%= village.district %></strong> की भूमि खसरा नंबर <strong><%= khasras.pluck(:khasra).join(", ") %></strong> रकबा <strong><%= khasras.collect{ |k| k.rakba + " हे."}.join(", ") %></strong> कुल रकबा <strong><%= khasras.collect{ |k| k.rakba.to_f}.sum %> हे.</strong> पर वर्तमान अभिलेख में 
              <strong><%= fout_persons(request) %></strong> का/के नाम दर्ज है| 
          </div>
        <% else %>
          <div class="txt-indent-3">
            यह कि मौजा <strong><%= request.village.halka_name %></strong> प.ह.न. <strong><%= request.village.halka_name %></strong> तहसील <strong><%= request.village.tehsil %></strong> जिला <strong><%= request.village.district %></strong> की भूमि खसरा नंबर <strong><%= khasra %></strong> रकबा <strong><%= kh_rakba %></strong> कुल रकबा <strong><%= total_sold_rakba %></strong> पर वर्तमान अभिलेख में 
              <strong><%= fout_persons(request) %></strong> का/के नाम दर्ज है| 
          </div>
        <% end %>
        <div class="txt-indent-3">
          यह कि, पंचनामा मुताबिक़ मृतक के वारिसों के नाम संजरा  अनुसार निम्न है :-  <br/> 
        </div>
        <% request && request.participants.fout_person.each do | f_person | %>
          <strong><%= participant_name(f_person) %></strong> के वारसान :-
          <%= render "requests/fouti/pdf_pages/#{@templates[:sanjara_praroop]}/sanjara", request: request, fout_person: f_person, action_display: false %>
        <% end %>
        <div class="txt-indent-4">
          अतः प्रतिवेदन सादर सम्प्रेषित है |
        </div>
        <br/><br/>
        <div>
          <div class="fRight">
            <center>- - - - - - - - - - - - - - - - -</center>
            <center><strong>हस्ताक्षर</strong><center>
            <center><strong>पटवारी हल्का <%= request.village.halka_name %></strong><center>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>
<% villages = villages-[request.village.id] %>
<% villages && villages.each do | village_id | %>
  <%= render partial: "requests/fouti/pdf_pages/nested_patwari_prativedan", locals: {
    request: request, village_id: village_id } %>
<% end %>