<!-- halka patwari prativedan -->
<div class="row pdf alwaysbreak">
  <div class="col-md-12">
    <div class="row pd-top-2">
      <div class="fnt-24 fnt-b fnt-u">
        <center>
          कार्यालय पटवारी हल्का नंबर _ _ <%= request.village.halka_number %>, <%= request.village.halka_name %>
        </center>
      </div>
    </div>
    <div class="row pdf-mrgn-8">
      <div class="<%= @templates[:patwari_prativedan] %>">
        <div class="fnt-20">प्रति,<br/></div>
        <div class="padding-6">
          श्रीमान तहसीलदार/नायब तहसीलदार महोदय<br/>
          वृत्त <strong><%= request.village.ri %></strong>, तहसील <strong><%= request.village.tehsil %></strong>
        </div>
        <div class="">
          <strong>विषय &nbsp;:- </strong> फौती/नामांतरण के सम्बन्ध में प्रतिवेदन |<br/>
        </div>
        <div class="">
          महोदय  जी,<br/>
        </div>
        <div class="txt-indent-3">
          <% dead_persons = request.participants.fout_person %>

          उक्त विषयान्तर्गत लेख है कि, मौजा <strong><%= request.village.halka_name %></strong> प.ह.न. <strong><%= request.village.halka_number %></strong> तहसील <strong><%= request.village.tehsil %></strong> जिला <strong><%= request.village.district %></strong> के आवेदक <%=raw applicant_name(request, true) %> द्वारा अपने माता/पिता/अन्य

          <%=raw dead_persons.collect{ |p| [participant_name(p)] }.join(", ") %> की मृत्यु दिनांक <%= 'क्रमशः ' if dead_persons.length > 1 %> <strong><%= dead_persons.collect{ |p| [format_dt(p.death_date)] }.join(", ") %></strong>
          
           को हो जाने के कारण नामांतरण/फौती हेतु आवेदन पत्र श्रीमान जी के समक्ष प्रतुत किया है | 
        </div>

        <% village = request.village %>
        <% khasras = request.khasras.where(village_id: village.id) %>
        <div class="txt-indent-3">
          यह कि <%= raw khasra_description(request) %> पर वर्तमान अभिलेख में 
            <%=raw dead_persons.collect{ |p| [participant_name(p)] }.join(", ") %> का/के नाम दर्ज है| 
        </div>

        <div class="txt-indent-3">
          यह कि, पंचनामा मुताबिक़ मृतक के वारिसों के नाम संजरा  अनुसार निम्न है :-  <br/> 
        </div>
        <% request && request.participants.fout_person.each do | f_person | %>
          <%=raw participant_name(f_person) %> के वारसान :-
          <%= render "requests/fouti/pdf_pages/#{@templates[:sanjara_praroop]}/sanjara", request: request, fout_person: f_person, action_display: false %>
        <% end %>
        <div class="txt-indent-4">
          अतः प्रतिवेदन सादर सम्प्रेषित है |
        </div>
        <br/><br/>
        <div>
          <div class="fRight">
            <center>- - - - - - - - - - - - - - - - -</center>
            <center><strong>हस्ताक्षर</strong><center>
            <center><strong>पटवारी हल्का <%= request.village.halka_name %></strong><center>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>
<% villages = request.khasras.pluck(:village_id).uniq %>
<% villages = villages-[request.village.id] %>

<% villages && villages.each do | village_id | %>
  <%= render partial: "requests/fouti/pdf_pages/nested_patwari_prativedan", locals: {
    request: request, village_id: village_id, dead_persons: dead_persons } %>
<% end %>