<% group_ids = request.khasra_battanks.pluck(:group_id).uniq - [nil] %>

<div class="offset-md-4 col-md-8">
  <div class="page-sub-header mb-2">
    नई खसरा सूची
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>हिस्सेदार</th>
        <th>ग्राम</th>
        <th>Khasra</th>
        <th>Area</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% if group_ids.present? %>
        <% group_ids.each_with_index do | group_id, index1 | %>

         <% khasra_battanks = request.khasra_battanks.where("group_id=?", group_id) %>
         <% hissedars = @request.participants.where("id in (?)", khasra_battanks[0].participant_ids.split(",")) %>
         <% hissedar_names = hissedars.collect{ |h| participant_name(h) } %>
         <% account_rakba = 0 %>

         <% khasra_battanks &&  khasra_battanks.each_with_index do | khbattank, index2 | %>
            <tr>
              <% if index2 == 0%>
                <td rowspan="<%= khasra_battanks.length %>">
                  <%= index1+1 %>. <%=raw hissedar_names.join("<br/>") %>
                </td>
              <% end %>
              <td>
                <%= khbattank.khasra.village.village %>
              </td>
              <td>
                <%= khbattank.new_khasra %>
              </td>
              <td>
                <%= '%.4f' % khbattank.rakba %>
              </td>
              <td>
                <%= link_to "javascript:void(0);", 'data-action': 'click->khbattank#removePraticipantFromNewBattanks', 'data-id': khbattank.id, 'data-request-id': khbattank.request_id do %>
                  <i class='fa-regular fa-trash-can text-danger'></i>
                <% end %>
              </td>
            </tr>
            <% account_rakba = account_rakba + khbattank.rakba.to_f*10000 %>
          <% end %>
          <tr>
            <td></td>
            <td class="text-primary"><strong>आवंटित रकबा : </strong></td>
            <td>
              <strong>
                <span class="text-primary"><%='%.4f' % (account_rakba/10000) %> हे.</span>
              </strong>
            </td>
            <td></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="4">
            अभी किसी हिस्सेदार को कोई नया खसरा आवंटित नहीं किया है | 
          </td>
        </tr>        
      <% end %>
    </tbody>
  </table>
</div>