<p style="color: green"><%= notice %></p>

<%= render @khasra_battank %>

<div>
  <%= link_to "Edit this khasra battank", edit_khasra_battank_path(@khasra_battank) %> |
  <%= link_to "Back to khasra battanks", khasra_battanks_path %>

  <%= button_to "Destroy this khasra battank", @khasra_battank, method: :delete %>
</div>
