<div class="row">
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
    <div class="sign-up-container">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <div class="m-sm-3">
          <h5 class="title text-center">
            <strong>Change your password</strong>
          </h5>
          <hr>
          <div class="form-group"><%#binding.break%>
            <div class="col-sm-12 no-padding">
              <%= render "users/shared/error_messages", resource: resource %>
            </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">New Password</label>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em><br />
            <% end %>
            <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'form-control', id: 'password', placeholder: 'New Password' %>
          </div>

          <div class="mb-3">
            <label for="password_confirmation" class="form-label">Confirm New Password</label>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', id: 'password_confirmation', placeholder: 'Confirm New Password' %>
          </div>
          <div class="row">
            <div class="col-md-6">
              <%= f.submit "Change my password", class: "btn btn-primary form-control"%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-lg-4"></div>
</div>
